.button {
    background-color: $color-secondary;
    padding: 1.6rem 4rem;
    border: none;
    border-radius: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-lightest;
    cursor: pointer;

    &__hidden {
        display: none;
    }

    &--reset {
        width: min-content;
        margin-left: auto;
    }
}