.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-primary, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $color-lightest;
        width: 90%;
        max-width: 92rem;
        padding: 1rem;
        gap: 1rem;

        @media only screen and (min-width: $bp-smallest) {
            padding: 3rem;
        }

        @media only screen and (min-width: $bp-small) {
            gap: 2.4rem;
            padding: 5.6rem 9.5rem;
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 700;

        @media only screen and (min-width: $bp-smallest) {
            font-size: 4rem;
        }

        @media only screen and (min-width: $bp-small) {
            font-size: 4.2rem;
        }
    }

    &__text {
        font-size: 1.2rem;
        padding: 2px 0;

        @media only screen and (min-width: $bp-smallest) {
            font-size: 1.6rem;
        }
    }

    &__exit-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.2rem;
        cursor: pointer;

        @media only screen and (min-width: $bp-smallest) {
            top: 2rem;
            right: 2rem;
        }

        @media only screen and (min-width: $bp-small) {
            top: 3rem;
            right: 3rem;
        }

        @media only screen and (min-width: $bp-medium) {
            top: 4.6rem;
            right: 4.6rem;
        }
    }

    &__clicked-info {
        font-weight: 700;
    }

    &__hidden {
        display: none;
    }
}